{
	"presets": [
		["@babel/env", {
			"targets": {
				"browsers": ["> 1%", "last 2 versions"]
			}
		}],
		"@babel/stage-0",
		"@babel/react",
		"@babel/typescript"
	],
	"plugins": ["@babel/plugin-transform-runtime"]
}
