service cloud.firestore {
	match /databases/{database}/documents {
		function currentUserHasAccess(orgId) {
			return exists(/databases/$(database)/documents/organisations/$(orgId)/users/$(request.auth.uid));
		}

		function isPublic(orgId) {
			return resource.data.isPublic == true;
		}

		function isAuthed() {
			return request.auth.uid != null;
		}
    
		function isCurrentUser(uid) {
			return request.auth.uid == uid;
		}

		match /organisations/{orgId} {
			allow read: if isPublic(orgId) || currentUserHasAccess(orgId);
			allow create: if isAuthed();
			// TODO: Allow updates only if done by owner or administrator
			// TODO: Allow deletes only if done by owner.
			
			match /organisations/{orgOrgId} {
				allow read;
				allow write: if currentUserHasAccess(orgId);
			}

			match /reports/{repId} {
				allow read: if isPublic(orgId) || currentUserHasAccess(orgId);
				allow write: if currentUserHasAccess(orgId);
			}

			match /users/{uid} {
				allow read;
				allow write: if currentUserHasAccess(orgId);
			}
		}

		match /users/{uid} {
			allow read;
			allow write: if isCurrentUser(uid);

			match /organisations/{orgId} {
				allow read;
			}
		}
	}
}